* {
  box-sizing: border-box; }

body {
  font-family: 'Roboto', Verdana, sans-serif; }

/* for non-HTML5 browsers  */
header, nav, section {
  display: block; }

.navBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #B8C1C8; }
  .navBar ol {
    padding: 0; }
  .navBar li {
    float: left;
    margin: 5px 10px;
    list-style-type: none;
    font-weight: bold;
    font-size: 100%; }

@media (max-width: 350px) {
  .navBar ol {
    margin-top: 0;
    font-size: 85%; } }

.container {
  clear: both;
  width: 80%;
  margin: 80px auto; }

.heading {
  width: 150px;
  margin: auto; }

.heading__myPhoto {
  width: 150px; }

h1, h2, h3 {
  text-align: center; }

.subSect {
  width: 100%;
  max-width: 960px;
  margin: 20px auto; }
  .subSect > h2 {
    padding-top: 50px; }

@media (max-width: 1215px) {
  #portfolioContainer {
    max-width: 640px; } }

@media (max-width: 815px) {
  #portfolioContainer {
    max-width: 320px; } }

.project {
  float: left;
  width: inherit;
  max-width: 300px;
  margin: 10px;
  border: 1px solid #B8C1C8; }

.project__header {
  height: 206px; }
  .project__header:hover {
    border: 3px solid #B8C1C8; }

.project__img {
  width: 100%;
  height: 200px; }

.project__desc {
  border-top: 1px solid #B8C1C8;
  height: 200px;
  overflow-y: auto; }
  .project__desc p {
    padding: 10px; }
