* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 100%; }

body {
  font-family: 'Roboto', Verdana, sans-serif; }

/* for non-HTML5 browsers  */
header, nav, section {
  display: block; }

.navBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #343a40; }
  .navBar .navBar__pageSections {
    width: 20rem;
    margin: auto; }
    .navBar .navBar__pageSections li {
      float: left;
      list-style-type: none;
      margin: 1rem 0.6rem;
      font-size: 110%; }
  .navBar .navBar__socialmedia {
    margin-right: 8rem; }
    .navBar .navBar__socialmedia li {
      float: right;
      list-style-type: none;
      margin: 1rem 0.6rem;
      font-size: 110%; }

.navBar__link:link, .navBar__link--icon:link {
  color: #f2f2f2; }

.navBar__link:visited, .navBar__link--icon:visited {
  color: #f2f2f2; }

.navBar__link:hover, .navBar__link--icon:hover {
  color: #729ae6; }

@media (max-width: 22rem) {
  .navBar ol {
    margin-top: 0;
    font-size: 85%; } }

.container {
  clear: both;
  width: 80%;
  margin: 5rem auto; }

.heading {
  width: 9rem;
  margin: auto; }

.heading__myPhoto {
  width: 9rem; }

h1, h3 {
  text-align: center; }

h2 {
  text-align: center;
  padding-top: 3rem; }

.subSect {
  width: 100%;
  max-width: 60rem;
  margin: 1.25rem auto; }

@media (max-width: 75rem) {
  .portfolio {
    max-width: 40rem; } }

@media (max-width: 50rem) {
  .portfolio {
    max-width: 20rem; } }

.project {
  float: left;
  width: inherit;
  max-width: 18rem;
  margin: 0.625rem;
  border: 0.1rem solid #343a40; }

.project__header {
  height: 13rem; }
  .project__header:hover {
    border: 0.2rem solid #343a40; }

.project__img {
  width: 100%;
  height: 12.5rem; }

.project__desc {
  border-top: 0.2rem solid #343a40;
  height: 12.5rem;
  overflow-y: auto; }
  .project__desc p {
    padding: 0.625rem; }
