*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: 'Roboto', Verdana, sans-serif;
  color: #343a40; }

.navBar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #343a40;
  font-size: 1.6rem;
  z-index: 1; }
  .navBar .navBar__pageSections {
    display: flex;
    margin-left: 2rem; }
    .navBar .navBar__pageSections li {
      list-style-type: none;
      margin: 1.2rem 1rem; }
  .navBar .navBar__socialmedia {
    display: flex;
    margin-right: 2rem; }
    .navBar .navBar__socialmedia li {
      list-style-type: none;
      margin: 1.2rem 1rem; }
  .navBar .navBar__link:link, .navBar .navBar__link--icon:link {
    color: #f2f2f2; }
  .navBar .navBar__link:visited, .navBar .navBar__link--icon:visited {
    color: #f2f2f2; }
  .navBar .navBar__link:hover, .navBar .navBar__link--icon:hover {
    color: #729ae6; }
  @media (max-width: 1000px) {
    .navBar .navBar__pageSections {
      margin-left: 0; }
    .navBar .navBar__socialmedia {
      margin-right: 0; } }
  @media (max-width: 800px) {
    .navBar .navBar__link {
      font-size: 1.4rem; }
    .navBar .navBar__socialmedia {
      display: none; } }

@media (max-width: 550px) {
  .navBar {
    position: static; }
    .navBar .navBar__pageSections {
      flex-direction: column; }
      .navBar .navBar__pageSections li {
        margin: 0.5rem; } }

.container {
  width: 80%;
  margin: 8rem auto; }

@media (max-width: 550px) {
  .container {
    margin-top: 0.5rem; } }

p {
  margin-top: 1.5rem;
  font-size: 1.75rem; }

h1 {
  font-size: 3rem; }

.heading {
  display: flex;
  justify-content: center;
  max-width: 85rem;
  margin: auto;
  padding-top: 5rem; }
  .heading .heading__myPhoto img {
    width: 24.3rem;
    border: 0.5rem solid #343a40;
    border-radius: 10%;
    margin-right: 5rem; }

@media (max-width: 1025px) {
  .heading {
    flex-wrap: wrap; }
    .heading .heading__myPhoto {
      width: 24.3rem;
      margin: 2rem; } }

h2 {
  text-align: center;
  padding-top: 5rem;
  font-size: 3rem; }

h3 {
  text-align: center;
  font-size: 2.2rem;
  padding: 1rem; }

h4 {
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 1rem; }

.subSect {
  margin: 2rem auto; }
  .subSect p {
    text-align: center; }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  animation-name: moveInTop;
  animation-duration: 2s; }

.skillsCard {
  width: 100%;
  max-width: 30rem;
  margin: 2rem 1rem;
  border: 0.2rem solid #f2f2f2;
  box-shadow: -5px 5px 8px 0 #C1CCC6; }
  .skillsCard:hover {
    box-shadow: -0.5rem 0.5rem 0.8rem 0 #343a40; }
  .skillsCard ul {
    margin-top: 2rem; }
  .skillsCard li {
    list-style-type: none;
    text-align: center;
    margin: 1rem 1rem;
    font-size: 1.5rem; }

.projectCard {
  width: 100%;
  max-width: 30rem;
  margin: 2rem 1rem;
  border: 0.2rem solid #f2f2f2;
  box-shadow: -5px 5px 8px 0 #C1CCC6;
  position: relative; }
  .projectCard:hover {
    box-shadow: -0.5rem 0.5rem 0.8rem 0 #343a40; }
  .projectCard .projectCard__img {
    width: 100%;
    height: 20rem; }
  .projectCard .projectCard__desc {
    border-top: 0.3rem solid #f2f2f2; }
    .projectCard .projectCard__desc p {
      padding: 1rem;
      margin-bottom: 3rem; }
  .projectCard .projectCard__githubLink {
    font-size: 2.5rem;
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem; }
    .projectCard .projectCard__githubLink:link {
      color: #343a40; }
    .projectCard .projectCard__githubLink:visited {
      color: #343a40; }
    .projectCard .projectCard__githubLink:hover {
      color: #729ae6; }

.experienceCard {
  width: 100%;
  max-width: 30rem;
  margin: 2rem 1rem;
  border: 0.2rem solid #f2f2f2;
  box-shadow: -5px 5px 8px 0 #C1CCC6; }
  .experienceCard:hover {
    box-shadow: -0.5rem 0.5rem 0.8rem 0 #343a40; }
  .experienceCard .experienceCard__dates {
    font-style: italic; }

.educationCard {
  width: 100%;
  max-width: 30rem;
  margin: 2rem 1rem;
  border: 0.2rem solid #f2f2f2;
  box-shadow: -5px 5px 8px 0 #C1CCC6; }
  .educationCard:hover {
    box-shadow: -0.5rem 0.5rem 0.8rem 0 #343a40; }
  .educationCard .educationCard__dates {
    font-style: italic; }

.iconContainer {
  display: flex;
  justify-content: center;
  margin-top: 2rem; }
  .iconContainer .icon__link {
    margin: 1.2rem 1rem;
    font-size: 4rem;
    text-decoration: none; }
    .iconContainer .icon__link:link {
      color: #343a40; }
    .iconContainer .icon__link:visited {
      color: #343a40; }
    .iconContainer .icon__link:hover {
      color: #729ae6; }
