// lint

$colour-grey-dark: rgb(52, 58, 64);
$colour-cream: rgb(242, 242, 242);
$colour-blue: rgb(114, 154, 230);

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }

html {
  font-size: 62.5%;
}
  
body {
  box-sizing: border-box;
  font-family: 'Roboto', Verdana, sans-serif;
  color: $colour-grey-dark;
}

/* for non-HTML5 browsers  */
header, nav, section {
  display: block;
}

.navBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $colour-grey-dark;
  font-size: 1.6rem;

  @mixin navListItems {
    list-style-type: none;
    margin: 1.2rem 1rem;
  }

  .navBar__pageSections {
    width: 100%;
    max-width: 55rem;
    margin: auto;

    li {
      float: left;
      @include navListItems;
    }
  }

  .navBar__socialmedia {
    position: absolute;
    right: 5rem;

    li {
      float: right;
      @include navListItems;
    }
  }

  @media (max-width: 1000px) {
    .navBar__pageSections {
      margin-left: 0;
    }
  
    .navBar__socialmedia {
      right: 0;
    }
  }
}

// use burger menu?
@media (max-width: 725px) {
  .navBar {
    display: none;
  }
}

.navBar__link, .navBar__link--icon {
  &:link {
    color: $colour-cream;
  }

  &:visited {
    color: $colour-cream;
  }

  &:hover {
    color: $colour-blue;
  }
}

.container {
  clear: both;
  width: 80%;
  margin: 8rem auto;
  font-size: 1.4rem;
}

p {
  margin-top: 1.5rem;
  font-size: 2rem;
}

h1 {
  font-size: 3rem;
}

.heading {
  width: 100%;
  max-width: 80rem;
  margin: auto;
  padding-top: 5rem;

  .heading__myPhoto img {
    width: 18rem;
    float: left;
    border: 0.5rem solid $colour-grey-dark;
    border-radius: 10%;
    margin-right: 5rem;
  }

  @media (max-width: 425px) {

    .heading__myPhoto {
      width: 18rem;
      margin: 2rem auto;
    }

    .heading__myPhoto img {
      float: none;
    }
  }

  .heading__profile {
    margin-left: 5rem;
    font-size: 2rem;
  }
}

h2 {
  text-align: center;
  padding-top: 5rem;
  font-size: 3rem;
}

h3 {
  text-align: center;
  font-size: 2.2rem;
}

@mixin card {
  float: left;
  width: 100%;
  max-width: 30rem;
  margin: 2rem 1rem;
  border: 0.2rem solid $colour-cream;
  box-shadow: -5px 5px 8px 0 #C1CCC6;

  &:hover {
    box-shadow: -0.5rem 0.5rem 0.8rem 0 $colour-grey-dark;
  }
  // use sass function to calc height & colour(s) - or pass arguments to mixin?
}

.subSect {
  width: 100%;
  max-width: 96rem;
  margin: 2rem auto;
}

@media (max-width: 1220px) {
  .subSect {
    max-width: 64rem;
  }
}

@media (max-width: 820px) {
  .subSect {
    max-width: 32rem;
  }
}

.skills__card {
  @include card;
  height: 18rem;

  ul {
    margin-top: 2rem;
  }

  li {
    list-style-type: none;
    text-align: center;
    margin: 1rem 1rem;
    font-size: 1.5rem;
  }
}

.portfolio {
  clear: left;
}

.project__card {
  @include card;

  .project__header {
    height: 20rem;
  }
  
  .project__img {
    width: 100%;
    height: 20rem;
  }
  
  .project__desc {
    border-top: 0.3rem solid $colour-cream;
    height: 20rem;
    overflow-y: auto;
  
    p {
      padding: 1rem;
    }
  }
}

.experience {
  clear: left;
}