$section-heading-font-size: 3rem;
$card-heading-font-size: 2.2rem;
$card-subHeading-font-size: 1.5rem;
$para-font-size: 1.75rem;
$colour-grey: rgb(204, 204, 204);
$colour-grey-dark: rgb(52, 58, 64);
$colour-cream: rgb(242, 242, 242);
$colour-blue: rgb(114, 154, 230);

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }

html {
  font-size: 62.5%;
}
  
body {
  box-sizing: border-box;
  font-family: 'Roboto', Verdana, sans-serif;
  color: $colour-grey-dark;
}

@mixin linkStateColours($colour-link, $colour-visited, $colour-hover) {
  &:link {
    color: $colour-link;
  }

  &:visited {
    color: $colour-visited;
  }

  &:hover {
    color: $colour-hover;
  }
}

.navBar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $colour-grey-dark;
  font-size: 1.6rem;
  z-index: 1;

  @mixin navListItems {
    list-style-type: none;
    margin: 1.2rem 1rem;
  }

  .navBar__pageSections {
    display: flex;
    margin-left: 2rem;

    li {
      @include navListItems;
    }
  }

  .navBar__socialmedia {
    display: flex;
    margin-right: 2rem;

    li {
      @include navListItems;
    }
  }

  .navBar__link, .navBar__link--icon {
    @include linkStateColours($colour-cream, $colour-cream, $colour-blue);
  }

  @media (max-width: 1000px) {
    .navBar__pageSections {
      margin-left: 0;
    }

    .navBar__socialmedia {
      margin-right: 0;
    }
  }

  @media (max-width: 800px) {
    .navBar__link {
      font-size: 1.4rem;
    }
  
    .navBar__socialmedia {
      display: none;
    }
  }
}

@media (max-width: 550px) {
  .navBar {
    position: static;

    .navBar__pageSections {
      flex-direction: column;

      li {
        margin: 0.5rem;
      }
    }
  }
}

.container {
  width: 80%;
  margin: 8rem auto;
}

@media (max-width: 550px) {
  .container {
    margin-top: 0.5rem;
  }
}

p {
  margin-top: 1.5rem;
  font-size: $para-font-size;
}

h1 {
  font-size: $section-heading-font-size;
}

.heading {
  display: flex;
  justify-content: center;
  max-width: 85rem;
  margin: auto;
  padding-top: 5rem;

  .heading__myPhoto img {
    width: 24.3rem;
    border: 0.5rem solid $colour-grey-dark;
    border-radius: 10%;
    margin-right: 5rem;
  }
}

@media (max-width: 1025px) {
  .heading {
    flex-wrap: wrap;

    .heading__myPhoto {
      width: 24.3rem;
      margin: 2rem;
    }
  }
}

h2 {
  text-align: center;
  padding-top: 5rem;
  font-size: $section-heading-font-size;
}

h3 {
  text-align: center;
  font-size: $card-heading-font-size;
  padding: 1rem;
}

h4 {
  text-align: center;
  font-size: $card-subHeading-font-size;
  padding-bottom: 1rem;
}

.subSect {
  margin: 2rem auto;

  p {
    text-align: center;
  }
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-2rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  animation-name: moveInTop;
  animation-duration: 2s;
}

@mixin card {
  width: 100%;
  max-width: 30rem;
  margin: 2rem 1rem;
  border: 0.1rem solid $colour-grey;
  border-radius: 1rem;
  box-shadow: -5px 5px 8px 0 #C1CCC6;

  &:hover {
    box-shadow: -0.5rem 0.5rem 0.8rem 0 $colour-grey-dark;
  }
}

.skillsCard {
  @include card;

  ul {
    margin-top: 2rem;
  }

  li {
    list-style-type: none;
    text-align: center;
    margin: 1rem 1rem;
    font-size: $card-subHeading-font-size;
  }
}

.projectCard {
  @include card;
  position: relative;
  
  .projectCard__img {
    width: 100%;
    height: 20rem;
  }
  
  .projectCard__desc {
    border-top: 0.3rem solid $colour-cream;
  
    p {
      padding: 1rem;
      margin-bottom: 3rem;
    }
  }

  .projectCard__githubLink {
    font-size: 2.5rem;
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
    @include linkStateColours($colour-grey-dark, $colour-grey-dark, $colour-blue);
  }
}

.experienceCard {
  @include card;
  padding: 1rem;

  .experienceCard__dates {
    font-style: italic;
  }
}

.educationCard {
  @include card;
  padding: 1rem;

  .educationCard__dates {
    font-style: italic;
  }
}

.iconContainer {
   display: flex;
   justify-content: center;
   margin-top: 2rem;

  .icon__link {
    margin: 1.2rem 1rem;
    font-size: 4rem;
    text-decoration: none;
    @include linkStateColours($colour-grey-dark, $colour-grey-dark, $colour-blue);
  }
}
