// lint

$colour-dark-grey: rgb(98, 111, 121);
$colour-white: #fff;
$colour-blue: blue;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

html {
  font-size: 100%;
}
  
body {
  font-family: 'Roboto', Verdana, sans-serif;
}

/* for non-HTML5 browsers  */
header, nav, section {
  display: block;
}

.navBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $colour-dark-grey;

  ol {
    width: 18.5rem;
    margin: 1.25rem auto;
  }

  li {
    float: left;
    margin: 0.3rem 0.6rem;
    list-style-type: none;
    font-weight: bold;
    font-size: 100%;
  }
}

.navBar__link {
  &:link {
    color: $colour-white;
  }

  &:visited {
    color: $colour-blue;
  }
}

@media (max-width: 22rem) {
  .navBar ol {
    margin-top: 0;
    font-size: 85%;
  }
}

.container {
  clear: both;
  width: 80%;
  margin: 5rem auto;
}

.heading {
  width: 9rem;
  margin: auto;
}

.heading__myPhoto {
  width: 9rem;
}

h1, h3 {
  text-align: center;
}

h2 {
  text-align: center;
  padding-top: 3rem;
}

.subSect {
  width: 100%;
  max-width: 60rem;
  margin: 1.25rem auto;
}

@media (max-width: 75rem) {
  .portfolio {
    max-width: 40rem;
  }
}

@media (max-width: 50rem) {
  .portfolio {
    max-width: 20rem;
  }
}

.project {
  float: left;
  width: inherit;
  max-width: 18rem;
  margin: 0.625rem;
  border: 0.1rem solid $colour-dark-grey;
}

.project__header {
  height: 13rem;

  &:hover {
    border: 0.2rem solid $colour-dark-grey;
  }
}

.project__img {
  width: 100%;
  height: 12.5rem;
}

.project__desc {
  border-top: 0.2rem solid $colour-dark-grey;
  height: 12.5rem;
  overflow-y: auto;

  p {
    padding: 0.625rem;
  }
}