* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', Verdana, sans-serif;
}

/* for non-HTML5 browsers  */
header, nav, section {
  display: block;
}

.navBar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: #B8C1C8;
}

.navBar li {
  float: left;
  margin: 5px 10px;
  list-style-type: none;
  font-weight: bold;
}

.container {
  clear: both;
  width: 80%;
  margin: 80px auto;
}

.heading {
  width: 150px;
  margin: auto;
}

.myPhoto {
  width: 150px;
}

h1, h2, h3, p {
  text-align: center;
}

.subSect {
  width: 100%;
  /* media query to hanbdle desktop viewports? */
  max-width: 960px;
  margin: 50px auto;
}

.subSect > h2 {
  padding-top: 50px;
}

.project {
  float: left;
  height: 400px;
  width: inherit;
  max-width: 300px;
  margin: 10px;
  border: 1px solid #B8C1C8;
  overflow-y: auto;
}

.projectImg {
  width: 100%;
  height: 200px;
}

.project:hover {
  border: 3px solid #B8C1C8;
}

.projectDesc p {
  padding: 10px;
}

.projectHeader {
  border-bottom: 2px solid #B8C1C8;
}
