* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', Verdana, sans-serif;
}

/* for non-HTML5 browser  */
header, nav, section {
  display: block;
}

.navBar {
  position: fixed;
  top: 5px;
  width: 100%;
}

.navBar li {
  float: left;
  margin: 10px;
  list-style-type: none;
  font-weight: bold;
}

.container {
  clear: both;
  width: 100%;
  max-width: 1200px;
  margin: 80px auto;
}

.heading {
  width: 150px;
  margin: auto;
}

.myPhoto {
  width: 150px;
}

h1, h2, h3, p {
  text-align: center;
}

.subSect {
  width: inherit;
  max-width: inherit;
  margin: 50px auto;
}

.project {
  float: left;
  width: inherit;
  height: 350px;
  max-width: 300px;
  border: 1px solid black;
}

.projectImg {
  width: 300px;
  height: 200px;
}
