/*add font styling */

/* add container background colours */

nav li {
  display: inline;
  margin-right: 20px;
  font-size: 30px;
}

.title {
  font-size: 60px;
}

.email {
  font-weight: bold;
  font-size: 20px;
}

.row {
  margin-top: 30px;
  margin-bottom: 20px;
}

.project img {
  height: 350px;
  margin-bottom: 10px;
}

.projectInfo {
  border-top: solid;
}
