.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh
}

body {
  background-color: #e74c3c;
  font-family: 'Montaga', Verdana, sans-serif;
  color: #FFF;
}

button {
  margin: 10px;
  cursor: pointer;
}

